<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Buyer Name</label>
      <div class="form-control">{{carReg.name}}</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="form-control">{{carReg.email}}</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div class="form-control">{{carReg.phone}}</div>
    </div>
    <div class="form-group">
      <label>Car Model</label>
      <div class="form-control">{{carReg.model}}</div>
    </div>
    <div class="form-group">
      <label>Car Plate number</label>
      <div class="form-control">{{carReg.plateNumber}}</div>
    </div>
    <div class="form-group">
      <label>Purchase Price</label>
      <div class="form-control">{{carReg.price}}</div>
    </div>
    <div class="form-group">
      <label>Purchase Date</label>
      <div class="form-control">{{carReg.purchaseDate}}</div>
    </div>
  </div>
</div>